{% extends "base.html" %}
{% load static %}

{% block title %}
    Donate - ilikchicken.me
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="donate">
            <h1>Donate</h1>
            <p>If you like me and want to support my work, you can donate through the following monero address.</p>
            <div class="address">
                <img src="{% static 'image/donate.png' %}" />
                <p>44KdYySemuh24Jr9pSowpiWPTz6UhkkV1Lp5VPYbooxW5cFzEioA5w2WdjsA37LcZuGWhrAxwV1rA64VJfydLfrp4rX9t8M</p>
            </div>
        </div>
    </div>
{% endblock content %}