.blog-body {
    min-height: 100%;
    padding: 20px 70px;
}

.title {
    font-size: 40px;
    font-weight: bold;
}

.sidebar {
    padding: 20px 0;
    font-weight: 50;
}

.recent-post {
    margin: 20px 0;
    max-width: 250px;
}

.card-text {
    color: #999;
}