{% extends "base.html" %} 
{% load static %} 

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/panel/dashboard.css' %}">
{% endblock css %}

{% block title %} Dashboard - ilikchicken.me {% endblock title %} 

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            {% include 'panel/sidebar.html' %}
        </div>
        <div class="col-lg-8 content">
            <h2 class="m-3">Welcome back, {{ username }}</h2>
            <div class="row stats">
                <div class="col-lg-6">
                    <h5 class="card-title">Total Blogs: {{ post_num }}</h5>
                    <br />
                    <h6>Latest post:</h6>
                    <h5>{{ lastest_post.title }}</h5>
                    <p>{{ lastest_post.body|safe|truncatewords:25 }}</p>
                    <p>Last updated: {{ lastest_post.last_edited }}</p>
                </div>
                <div class="col-lg-6">
                    <h5 class="card-title">Total Comments: N/A</h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
