#banner {
    text-align: center;
    padding: 50vh 0 45vh 0;
    color: inherit;
}

#banner h2{
    color: inherit;
    font-size: 3.5em;
    font-weight: 300;
    margin-top: -5em;
}

#banner .bannerbtn{
    margin: auto 30em;
    align-items: center;
    justify-content: center;
}

.introduction {
    width: 75%;
    margin: 0 auto;
    padding: 20px 0;
}

#about-me {
    text-align: center;
    margin-bottom: 20px;
}

#about-me-p {
    line-height: 30px;
    word-spacing: 3px;
}

#vision {
    line-height: 30px;
    word-spacing: 3px;
}

#pfp {
    clip-path: circle();
    float: left;
    border: 5px solid #84B082;
    border-radius: 50%;
}

@media (max-width: 768px){
    #pfp {
        visibility: collapse;
    }
}

@media (max-width: 991px){
    #pfp {
        height: 200px !important;
    }
}

@media (max-width: 960px){
    .skill .level {
        font-size: 12px;
    }
    
    .exp {
        margin-bottom: 40px;
    }
}

@media (max-width: 1200px){
    .line {
        display: none
    }
}

#experiences {
    font-weight: bold;
    margin-top: 140px;
    margin-bottom: 60px;
}

#skills {
    font-weight: bold;
    margin-top: 140px;
    margin-bottom: 40px;
}

.card {
    background-color: #3F5A78;
}

.exp .card-body .card-title {
    text-align: center;
    font-weight: bold;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn.disabled {
    background-color: #466286;
    border-color: #2E4057;
}

.exp .card-body ul{
    height: 300px;
}

.skill {
    margin: 5px 0;
    background-color: #3F5A78;
    border-radius: 3px;
    font-size: 18px;
    padding: 16px;
    overflow: visible;
}

.thing {
    display: inline-block;
}

.level {
    float: right;
}

#hobbies {
    text-align: center;
    margin-top: 90px;
    margin-bottom: 40px;
}

.hobbie {
    border-left: #3F5A78 solid 4px;
    padding: 10px 20px;
}

.hidden {
    visibility: hidden;
}

.home-progress-bar {
    background-color: #466286;
    border-radius: 3px;
    height: 5px;
    width: 100%;
}

.home-progress {
    float: left;
    height: 100%;
    background-color: #84B082;
}

.stats {
    background-color: #3F5A78;
    margin: 50px 0;
    padding: 20px 10px;
    border-radius: 5px;
}

.line {
    margin: 20px 0 200px 0;
    border-radius: 5px;
    height: 7px;
    position: relative;
    background-color: #D8D2E1;
}

.dots {
    position: absolute;
    top: -6px;
    left: 0;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #D8D2E1;
    border: none;
}

.small-card {
    width: 160px;
    position: absolute;
    top: 50px;
    padding: 10px;
    color: #D8D2E1;
}