html, body {
    margin: 0;
    height: 100%;
    background-color: #2E4057;
    font-family: 'Sora', sans-serif;
    color: #D8D2E1;
}

.main-content{
    width:100%;
}

.navbar {
    background-color: inherit;
    padding: 40px 10px;
}

.navbar-brand img{
    height: 60px;
}

.navbar-brand::after {
    content: 'Ilikechicken';
    color: #D8D2E1;
}

.nav-link {
    font-size: 1.2rem;
    color: #D8D2E1 !important;
}

.nav-item {
    padding: 0px 5px;
    margin: auto 5px;
}

.btn{
    border-radius: 7px;
    border: .15rem solid #D8D2E1;
    color: #D8D2E1;
    margin: auto 5px;
    padding: .3rem .75em;
    background-color: #3F5A78;
}

.btn:hover {
    background-color: #466286;
    border-color: #2E4057;
}

.container.contacts{
    display: flex;
}

.btn-big{
    border-radius: 7px;
    border: .15rem solid #D8D2E1;
    padding: .5rem 1.5em;
    font-size: 24px;
    color: inherit;
}

.btn-big.learnmore{
    background-color: #466286;
    border: none;
}

.btn-big.signup{
    background-color: #466286;
    border: none;
}

.placeholder {
    align-items: center;
    justify-content: center;
    background-color: #7C90A0;
    height: 200px;
}

.contact {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    padding: 20px 0;
}

.address {
    margin:100px 0;
}

.address p{
    text-align: center;
    overflow-wrap: break-word;
}

.address img{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.fill {
    background-color: #3F5A78;
    color: #D8D2E1;
    border: none;
}

.fill::placeholder{
    color: #D8D2E1;
}

.fill:focus{
    background-color: #3F5A78;
    color: #D8D2E1;
}

.fill.dark {
    background-color: #2E4057;
    color: #D8D2E1;
}

.card {
    background-color: #3F5A78;
    border-radius: 4px;
    box-shadow: 5px 5px 10px -3px rgba(0,0,0,0.1);
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #2E4057;
}
  
::-webkit-scrollbar-thumb {
    background: #3F5A78;
    border-radius: 8px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #466286;
}

@media (max-width: 760px){
    .mobile-hide {
        display: none !important;
    }

    .mobile-show {
        display: block !important;
    }
}

@media (max-width: 960px){
    .navbar {
        padding: 10px 0 0 0;
    }
}

.mobile-show {
    display: none !important;
}

.login-card {
    width: 450px;
    margin: 10% auto 15% auto;
}

#search-addon {
    background-color: #3F5A78;
}

.outline {
    border: solid .15rem #D8D2E1;
    border-radius: 5px;
}

.input-group-addon a{
    color: #D8D2E1;
}

.input-group-addon a:hover{
    color: #AEB4A9;
}

.not-found-text {
    font-size: 1.5em;
    color: #D8D2E1;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 250px;
}