body {
    font-family: Calibri;
}

.main-content{
    background-color: #fff;
    height:100%;
    width:100%;
}

.navbar {
    background-color: #7C90A0;
}

.nav-link {
    color: white !important;
    font-size: 1rem;
}

.nav-item {
    margin: auto 5px;
}

.btn{
    border-radius: 7px;
    border: .15rem solid white;
    margin: auto 5px;
    padding: .3rem .75em;
}

.btn.signup{
    background-color: #7C90A0;
    color: white;
}

.btn.login{
    background-color: #657183;
    color: white;
}

.d-inline-block a{
    color: #C4C4C4;
}

.container.contacts{
    display: flex;
}

.content {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 7px;
    align-items: center;
    background-color: white;
    padding: 3em;
    margin: 3em 6em;
    color: #747274;
}

.content h1{
    font-size: 28pt;
}

.content p{
    font-size: 12pt;
}

#banner {
    background-color: #657183;
    text-align: center;
    padding: 29em 0 6em 0;
    color: white;
}

#banner h2{
    color: white;
    font-size: 3.5em;
    font-weight: 300;
    margin-top: -5em;
}

#banner .bannerbtn{
    margin: auto 30em;
    align-items: center;
    justify-content: center;
}

.btn-big{
    border-radius: 7px;
    border: .15rem solid white;
    padding: .5rem 1.5em;
    font-size: 24px;
    color: white;
}

.btn-big.learnmore{
    background-color: #9FCDC8;
    border: .15rem solid #9FCDC8;
}

.btn-big.signup{
    background-color: #7C90A0;
    border: .15rem solid white;
}

.card{
    text-align: left!important;
    display: inline-block;
    width: 18rem;
    margin: 50px 80px;
}

.placeholder {
    align-items: center;
    justify-content: center;
    background-color: #7C90A0;
    height: 200px;
}

.card p{
    font-size: 18px;
    margin: 10px auto;
}

.card.lists{
    margin: 20px 40px;
}