html, body {
    margin: 0;
    height: 100%;
    background-color: #2E4057;
    font-family: 'Sora', sans-serif;
    color: #D8D2E1;
}

.main-content{
    height:100%;
    min-height: 100%;
    width:100%;
}

.navbar {
    background-color: inherit;
    padding: 40px 10px;
}

.navbar-brand img{
    height: 60px;
}

.navbar-brand::after {
    content: 'Ilikechicken';
    color: #D8D2E1;
}

.nav-link {
    font-size: 1.2rem;
    color: #D8D2E1 !important;
}

.nav-item {
    padding: 0px 5px;
    margin: auto 5px;
}

.btn{
    border-radius: 7px;
    border: .15rem solid #D8D2E1;
    color: #D8D2E1;
    margin: auto 5px;
    padding: .3rem .75em;
    background-color: #3F5A78;
}

.btn:hover {
    background-color: #466286;
    border-color: #2E4057;
}

.container.contacts{
    display: flex;
}

.btn-big{
    border-radius: 7px;
    border: .15rem solid white;
    padding: .5rem 1.5em;
    font-size: 24px;
    color: inherit;
}

.btn-big.learnmore{
    background-color: #466286;
    border: none;
}

.btn-big.signup{
    background-color: #466286;
    border: none;
}

.placeholder {
    align-items: center;
    justify-content: center;
    background-color: #7C90A0;
    height: 200px;
}

.contact {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    padding: 20px 0;
}

.fill {
    background-color: #3F5A78;
    color: #D8D2E1;
    border: none;
}

.fill::placeholder{
    color: #D8D2E1;
}

.fill:focus{
    background-color: #3F5A78;
    color: #D8D2E1;
}

.card {
    box-shadow: 5px 5px 10px -3px rgba(0,0,0,0.1);
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #2E4057;
}
  
::-webkit-scrollbar-thumb {
    background: #3F5A78;
    border-radius: 8px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #466286;
}