{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ blog.title }} - ilikchicken.me
{% endblock title %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/blog/blog.css' %}">
{% endblock css %}

{% block content %}
<div class="container-fluid" style="height:100%">
    <div class="row">
        <div class="col-xl-10 blog-body">
            <h2 class="title">{{ blog.title }}</h2>
            <p>Last updated: {{ blog.last_edited }}</p>
            <hr />
            <div>
            <p>{{ blog.body|safe }}</p>
            </div>
        </div>
        <div class="col-xl-2 sidebar">
            <h3>Recent Posts</h3>
            {% for recent in recents %}
            <div class="card recent-post">
                <div class="card-body">
                    <h5 class="card-title">{{ recent.title }}</h5>
                    <div class="card-text">{{ recent.body|safe|slice:'50'}}</div>
                    <a href="{{ blog.id }}" class="btn btn-primary">Read</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}