{% extends "base.html" %}
{% load static %}

{% block title %}
    CodingPotato - Courses
{% endblock title %}

{% block content %}
<div class="container">
<div class="row my-5">
{% for blog in blogs %}
    <div class="col-3">
    <div class="card h-100">
        <h5 class="card-header">{{ blog.title }}</h5>
        <div class="placeholder w-100 mb-10"></div>
        <div class="card-body">  
            <p class="card-text">{{ blog.body|safe|slice:'50' }}...</p>
        </div>
        <div class="card-footer">
            <a href="{{ blog.id }}" class="btn btn-primary">Learn</a>
        </div>
    </div>
    </div>
{% endfor %}
</div>
</div>

{% endblock content %}