{% load static %}
<div>
    <br><br><br>
</div>
<footer class="bottom footer">
    <div class="d-flex justify-content-around mb-2 mt-4">
        <div class="p-2"> 
            <ul class="bd-footer-links ps-0 mb-3">
                <li class="d-inline-block"><a href="/privacy/">Privacy Policy</a></li>
                <li class="d-inline-block ms-3"><a href="/about/">Contact</a></li>
                <li class="d-inline-block ms-3"><a href="/faq/">FAQ</a></li>
            </ul>
        </div>
        <div class="p-2">
            <p class="m-0 text-center text-white">CodingPotato LLC &copy, All rights reserved</p>
        </div>
        <div class="p-2">
            <ul class="bd-footer-links ps-0 mb-3">
                <li class="d-inline-block"><a href="#"><i class="fab fa-instagram fa-lg"></i></a></li>
                <li class="d-inline-block ms-3"><a href="#"><i class="fab fa-youtube fa-lg"></i></a></li>
                <li class="d-inline-block ms-3"><a href="#"><i class="fab fa-facebook fa-lg"></i></a></li>
            </ul>
        </div>
    </div>
</footer>