{% load static %}
<footer class="footer">
    <div class="icon">
        <a class="inline" href="/"><img src="{% static 'image/logo.png' %}" alt="CodingPotato" height="45"></a>
        <p class="inline">Steve Han</h3>
    </div>
    <div class="menu">
        <a class="menulink" href="https://www.instagram.com/ilikepoulet/"><i class="fab fa-instagram"></i></a>
        <a class="menulink" href="https://discord.gg/wPP3kegm3h"><i class="fab fa-discord"></i></a>
        <a class="menulink" href="https://github.com/stevehan12138"><i class="fab fa-github"></i></a>
        <a class="menulink" href="tel:3658855465">
            <i class="fas fa-phone"></i>
            <p class="phone" style="color: #fff;">
                +1-365-885-5465
            </p>
        </a>
    </div>
</footer>