{% load static %}
<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify"> <i>CodingPotato</i> is an initiative to help everyone to have a closer look at programming, CodingPotato focuses on providing many projects, tutoriaas, and many other resources and keep everything simple enough to understand. Our tutorial includes Python, HTML, JavaScript, C++, and more.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Courses</h6>
          <ul class="footer-links">
            <li><a href="#">Python</a></li>
            <li><a href="#">HTML</a></li>
            <li><a href="#">JavaScript</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="/about/">About Us</a></li>
            <li><a href="/about/">Contact Us</a></li>
            <li><a href="#">Support Us</a></li>
            <li><a href="/privacy/">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by 
       <a href="/">CodingPotato</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>